<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body align="center">

  <h1><u>Employee Records !!!!!!</u></h1>
    <table border="2" cellpadding="2px" cellspacing="2px" align="center">
        <thead>
            <tr>
                <th>Employee Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Contact Number</th>
                <!-- Add more table headers for each field you want to display -->
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${dataList}">
                <td th:text="${item.Id}"></td>
                <td th:text="${item.firstName}"></td>
                <td th:text="${item.lastName}"></td>
                <td th:text="${item.email}"></td>
                <td th:text="${item.number}"></td>
                <!-- Add more table data cells for each field -->
            </tr>
        </tbody>
    </table>
    <br>
    <br>
<a href="employeeMenu"><button>Back</button></a>
    </body>
</html>