<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body align="center">
<h1><u>Choose Your Function !!!!!</u> </h1>


<a href="/add"><button style="color:blue;">Add Employee</button></a><br><br><br>


<a href="/display"><button style="color:blue;">Display All Employees</button></a><br><br><br>


<a href="/update"><button style="color:blue;">Edit Employee Details</button></a><br><br><br>



<a href="/delete"><button style="color:blue;">Delete Employee Details</button></a><br><br><br>

<a href="/"><button style="color:#33b249;">Back</button></a><br><br><br>

</body>
</html>